.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.post-link {
    margin-top:2%;
  font-size: 50px;
}

.post-title {
  margin-top: 3%;
  font-size: 100px;
}

.postBody {
  font-size: 50px;
}
